<%= form_with(model: forecast) do |form| %>
  <% if forecast.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(forecast.errors.count, "error") %> prohibited this forecast from being saved:</h2>

      <ul>
        <% forecast.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td>
        <div class="field">
          <%= form.label :address %>  <span class="required"> *  </span> <br/>
          <%= form.text_field :address, class: "forecast_edit_field", size: "50" %>
        </div>
      </td>
    </tr>
  </table>


  <div>
    <%= form.submit %>
  </div>
<% end %>
