<p style="color: green"><%= notice %></p>

<h1>Forecasts</h1> <b></b><%= @forecasts.count.to_s %></b> Total forecasts

<div id="forecasts">
  <% @forecasts.each do |forecast| %>
    <%= render forecast %>
      <%= link_to "Show this forecast", forecast %>
    <hr/>
  <% end %>
</div>

<%= link_to "New forecast", new_forecast_path %>

